body{
    font-family: Arial, Helvetica, sans-serif;
    color:#3e2b14;
    background-color: tan;
    text-align: center; 
    font-size: 18px;
}

img {
    height: 250px;
    width: 300px;
    border: 15px solid #3e2b14;
    padding: 10px;
}

button {
    display: inline-block;
    margin: 40px auto 0px;
    background: white;
    border-radius: 3px;
    padding: 10px 17px;
    cursor: pointer;
}

.col-md-4{
    background-color: lightcyan;
    border: 2px solid #3e2b14;
    padding-top: 10px;
    padding-bottom: 10px;
}

.descDisplay{
    height: 250px;
    width: 300px;
    border: 15px solid #3e2b14;
    padding: 10px;
    background-color: lightcyan;
    margin: 0 auto;
    font-size: 20
}

input{
    padding: 12px 20px;
    box-sizing: border-box;
    
}

input:focus {
    padding: 12px 20px;
    background-color: tan;
}
