img {
    height:250px; 
    width:300px
}

button {
    display: block;
    margin: 40px auto 0px;
    text-align: center;
    background: red;
    border-radius: 3px;
    box-shadow: 0 10px 20px -8px red;
    padding: 10px 17px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
}

.one{
    border-style: double;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
}