body{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: black;
    text-align: center; 
    font-size: 18px;
}

#title {
    color: white;
}
img {
    height: 250px;
    width: 300px;
    padding: 10px;
}

button {
    display: inline-block;
    margin: 40px auto 0px;
    background: white;
    border-radius: 3px;
    padding: 10px 17px;
    cursor: pointer;
}

.col-md-4{
    background-color: white;
    border: 10px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.descDisplay{
    height: 250px;
    width: 300px;
    padding: 10px;
    background-color: white;
    margin: 0 auto;
    font-size: 20;
}

input{
    padding: 12px 20px;
    box-sizing: border-box;
    
}

input:focus {
    padding: 12px 20px;
    background-color: lightblue;
}
